/* src/App.css */
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #df7fd9;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  text-align: left;
  background-color: #60a765;
}
.imagesPokemon{
  width: 200px;
  height: 200px;
}
.imagesCard{
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10%;
}
.typeImages{
  width: 20px;
  height: 20px;
}